body{
    background:#f5f7fb;
    font-family:Segoe UI,sans-serif;
}

.stat-card{
    background:#fff;
    border-radius:18px;
    padding:25px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-6px);
}

.stat-card h5{
    color:#777;
}

.stat-card h2{
    font-size:42px;
    font-weight:700;
    color:#0d6efd;
}

.footer-area{
    background:#212529;
    color:white;
    padding:20px;
    margin-top:50px;
}

.fade-up{
    opacity:0;
    transform:translateY(30px);
}

.fade-up.show{
    opacity:1;
    transform:translateY(0);
    transition:.7s;
}

@media(max-width:768px){

    .stat-card h2{
        font-size:32px;
    }

}